html {
  scroll-behavior: initial;
}

body {
  font-family: "Manrope", sans-serif;
}

.topbar {
  width: 100%;
  background-color: #fff;
  height: 80px;
  z-index: 9999;
}
.topbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.topbar .container ul:first-child {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topbar .container ul:first-child li {
  list-style: none;
  margin: auto 5px;
  padding: 0 5px;
}
.topbar .container ul:first-child li a {
  text-decoration: none;
  color: #3556ff;
  transition: color 0.2s ease-in-out;
}
.topbar .container ul:first-child li a:hover {
  color: #201161;
}
.topbar .container ul:first-child .dropdown-menu {
  border-radius: 2px;
}
.topbar .container .menu-toggler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 34px;
  cursor: pointer;
}

.banner-section {
  height: calc(80vh - 80px);
}
.banner-section .swiper-container {
  height: 100%;
}
.banner-section .swiper-container .swiper-slide {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section .swiper-container .swiper-slide img {
  height: 100%;
  width: auto;
}
.banner-section .swiper-container .swiper-pagination {
  width: 20px;
  height: 100%;
  bottom: 0;
  right: 1%;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-section .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 4px 0;
}
.banner-section .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.announcement {
  padding: 4vh 1.5rem;
}
.announcement h1:first-child {
  border-left: 4px solid #201161;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.announcement .anno-swiper-container {
  position: relative;
  width: 100%;
  padding: 1rem 1rem 4rem 1rem;
}
.announcement .anno-swiper-container .swiper-pagination {
  padding-top: 2.5rem;
  bottom: inherit;
}
.announcement .anno-swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  outline: none;
}
.announcement .anno-swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #201161;
}
.announcement .anno-container {
  width: 100%;
  min-height: 400px;
  height: auto;
  -webkit-box-shadow: 1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 16px -7px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.announcement .anno-container:hover {
  -webkit-box-shadow: 1px 1px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 16px -4px rgba(0, 0, 0, 0.75);
}
.announcement .anno-container:hover h1 {
  color: #201161;
}
.announcement .anno-container:hover .img img {
  transform: scale(1.05);
}
.announcement .anno-container a:first-child {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.announcement .anno-container .img {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.announcement .anno-container .img img {
  height: 100%;
  width: auto;
  transition: all 0.4s ease;
}
.announcement .anno-container h1 {
  font-size: 18px;
  line-height: 1.5;
  padding: 1rem 1rem;
  margin-bottom: 0;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}
.announcement .anno-container p {
  font-size: 14px;
  padding: 1rem;
}

.stats {
  padding: 12vh 1.5rem;
  position: relative;
  z-index: 1;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}
.stats::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/FSC-1980x450px-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
}
.stats h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 92px;
}
.stats .num-stat {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.stats .num-stat .circle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
  background-image: url("../img/circle.png");
  background-size: cover;
  background-position: center;
}
.stats .num-stat .num {
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 34px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stats .num-stat.num-stat2 {
  width: 175px;
  height: 175px;
}
.stats .num-stat.num-stat2 .circle {
  -webkit-animation: spinReverse 30s linear infinite;
  -moz-animation: spinReverse 30s linear infinite;
  animation: spinReverse 30s linear infinite;
}
.stats .num-stat.num-stat2 .num {
  font-size: 24px;
  margin-left: 1rem;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinReverse {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.swiper-button-prev, .swiper-button-next {
  color: #201161;
}

.appl {
  padding: 8vh 1.5rem;
}
.appl h2 {
  font-size: 1.6em;
  margin-bottom: 1.6rem;
  text-align: center;
  font-weight: 900;
}
.appl .btn {
  background-color: #201161;
  color: #fff;
  padding: 0.45rem 3rem;
}
.appl .btn:hover {
  background-color: #fff;
  color: #201161;
  border: 1px solid #201161;
}

.modal-body::-webkit-scrollbar {
  width: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #888;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.education {
  padding: 8vh 1.5rem;
}
.education h1:first-child {
  border-left: 4px solid #201161;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.education .edu-item {
  width: 100%;
  height: 325px;
  border: 1px solid #ccc;
  padding: 0.4rem 1.5rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 14px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -9px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
  cursor: pointer;
}
.education .edu-item:hover {
  transform: scale(1.05);
  background-color: #f9f9f9;
  border: 0;
}
.education .edu-item:hover .icon {
  color: #201161;
}
.education .edu-item .icon {
  text-align: center;
  font-size: 46px;
  margin: 1rem 0;
}
.education .edu-item h1 {
  font-size: 1.6em;
  text-align: center;
  font-weight: 600;
}
.education .edu-item p {
  padding: 1rem 1rem;
  text-align: center;
}

.gallery {
  padding: 4vh 1.5rem;
}
.gallery h1:first-child {
  border-left: 4px solid #201161;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.gallery .img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
  cursor: pointer;
}
.gallery .img:hover .overlay {
  opacity: 1;
}
.gallery .img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(53, 86, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5em;
  transition: all 0.4s ease;
  opacity: 0;
}
.gallery .img a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.gallery .img img {
  height: 100%;
  width: auto;
}

#basin.gallery .img img {
  width: 100%;
  height: auto;
}

.page-content {
  width: 100%;
  background-color: #f9f9f9;
  padding: 5vh 1.5rem;
}
.page-content ul li {
  margin-bottom: 0.8rem;
}
.page-content h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
}

.side-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.side-menu .side-inner {
  position: absolute;
  right: -40vw;
  top: 0;
  bottom: 0;
  width: 40vw;
  height: 100%;
  background-color: #201161;
}
.side-menu .side-inner ul {
  padding: 0;
}
.side-menu .side-inner ul.smul {
  padding-top: 3rem;
}
.side-menu .side-inner ul li {
  list-style: none;
  text-align: left;
  padding: 1rem 1rem;
  text-align: center;
}
.side-menu .side-inner ul li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}
.side-menu .side-inner ul li .dropdown-menu a {
  color: #201161;
}
.side-menu .close {
  position: absolute;
  top: 0.3rem;
  left: 1rem;
  color: #fff;
  font-size: 34px;
  cursor: pointer;
}
.side-menu.active {
  width: 100%;
}

.kunye {
  background-color: #E8E8E8;
}
.kunye h1:first-child {
  border-left: 4px solid #201161;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5em;
  font-weight: 900;
}
.kunye .kunye-left {
  background-image: url("../img/bg-kunye-1.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.kunye .kunye-right {
  text-align: left;
  padding: 3vh 1.5rem;
}

#odul .card {
  border: none;
}
#odul .card .row .img {
  height: 300px;
}
#odul .card .row img {
  object-fit: cover;
  object-position: center top;
  height: 275px;
  /*width: 100%;*/
}

/*.contain-hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .hover {
    !*display: none;*!
    height:50%;
    width: 50%;

    img {
    height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

  }
}*/
footer {
  width: 100%;
  background-color: #fff;
  height: 80px;
  border: 1px solid #E8E8E8;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer .container ul:first-child {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container ul:first-child li {
  list-style: none;
  margin: auto 5px;
  padding: 0 5px;
}
footer .container ul:first-child li a {
  text-decoration: none;
  color: #3556ff;
  transition: color 0.2s ease-in-out;
  font-size: 0.93em;
}
footer .container ul:first-child li a:hover {
  color: #201161;
}

.announcement h1:first-child, .education h1:first-child, .gallery h1:first-child {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .side-menu .side-inner {
    right: -65vw;
    width: 65vw;
  }

  .topbar .logo {
    width: 100%;
    height: auto !important;
  }

  footer {
    height: auto;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container img {
    width: 100% !important;
    height: auto !important;
  }
  footer .container ul:first-child {
    margin-top: 1rem;
    flex-direction: column;
    padding-left: 0;
  }

  .stats h1 {
    font-size: 4em;
    line-height: 92px;
  }
  .stats .num-stat {
    width: 150px;
    height: 150px;
  }
  .stats .num-stat .num {
    font-size: 1.3em;
  }

  .announcement {
    padding: 4vh 0;
  }
}

/*# sourceMappingURL=style.css.map */
